@import "tailwindcss";

@theme {
  --color-blue: rgb(34, 118, 220);
  --color-pink: rgb(253, 73, 60);
  --color-yellow: rgb(255, 222, 8);
  --color-gray: rgb(65, 65, 65);
  --color-offwhite: rgb(237, 237, 237);

  --drop-shadow-hard-xs: 1px 1px var(--color-gray);
  --drop-shadow-hard-sm: 3px 3px var(--color-gray);
  --drop-shadow-hard: 4px 4px var(--color-gray);
  --drop-shadow-hard-lg: 5px 5px var(--color-gray);
  --drop-shadow-hard-xl: 8px 8px var(--color-gray);

  --font-family-rubik: "Rubik", sans-serif;
}

* {
  cursor: none !important;
}

.dotted-bg {
  background-image: radial-gradient(#00000022 2px, transparent 0);
  background-size: 10px 10px;
  background-position: -14px -19px;
}

.striped-bg {
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    #ffffff22 25%,
    #ffffff22 50%,
    transparent 50%,
    transparent 75%,
    #ffffff22 75%,
    #ffffff22 100%
  );
  background-size: 56.57px 56.57px;
}

@keyframes pulse2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
